.formHeader{
    text-align: center;
}
.formFirstButton{
    margin-left: 850px;
    margin-top:30px;
    margin-bottom:30px
}

.formDiv{
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center  ;
   margin: 20px;
.fieldForForm{
    margin-right: 20px;
}
}

.deleteBtnForForm{
    background-color: rgb(199, 32, 32);
    color: white;
    margin: 0 auto;
    text-align: center;
}

.formTable{
    margin: 30px 50px;
}