.cartSection{
    padding: 40px 270px;
.cardForCart{
    padding: 20px;

    .imgContainerForCart{
        img{
            width: 400px;
            height: 400px;
        }
    }
    .buttonForCart{
        background-color: black;
        color: white;
        margin-right: 3px;
    }
}
    
}